.github/
test/
build/
node_modules/
grammar.js
Makefile
*.tgz
.DS_Store
.gitignore
.gitmodules
.gitattributes
Cargo.lock
Cargo.toml
go.mod
Package.swift
pyproject.toml
setup.py
test_all.sh
testitem.html
tester/
tree-sitter-dart.wasm
tree-sitter.json
assets/
queries/
.editorconfig
.claude/
bindings/c/
bindings/go/
bindings/python/
bindings/rust/
bindings/swift/
tree_sitter/
Dart.g
pubspec.yaml
